.main{
    width: 600px;
    height: inherit;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    background-color: lightcyan;
}
.img{
    display: flex;
    justify-content: center;
}
.icon{
    display: flex;
    justify-content: center;
}
h3{
    color: midnightblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* decendant selector: all p-tag content in any div will have that font-family and color brown */
div p{
    font-family: 'Trebuchet MS', sans-serif; 
    color: brown;
}
/* id selectors */
#love{
    font-family: 'Tahoma', sans-serif; 
    /* color: palevioletred; */
}
#like{
    font-family: 'sans-serif'; 
    /* color: palevioletred; */
}
ol{
    color: aqua;
}
/* child combinator selector; affects only the direct decendant of the 1st selector */
#hobbies > ol{
    color: black;
}

